
body{
    margin: 0;
    background-color: #fffaae;
   }
.scene {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    /* Solid fallback for old browsers */
    background: #0099ff;
    /* general syntax */
    background: linear-gradient(top, #0099ff, #00ccff);
 }

 /* Image Properties */
 
 .blades {
    /*image is 120 x 120 px*/
    position: absolute;
    top: 38%;
    left: 61px;
    /* general syntax */
    animation: bladeSpin 10s ease-in-out infinite;
 }
 
 .stand {
    /*image is 12 x 130 px*/
    position: absolute;

    bottom: 0%;
    left: 115px;
 }
 
 .cloud {
    position: absolute;
    /* general syntax */
    animation: cloudDrift linear infinite;
 }
 
 .lrg {
    /*width 130px*/
    top: 40px;
    left: -140px;
    /* general syntax */
    animation-duration: 40s;
 }
 .sml {
    /*width 70px*/
    top: 10px;
    left: -80px;
    /* general syntax */
    animation-duration: 20s;
 }
 .med {
    /*width 100px*/
    top: 80px;
    left: -110px;
 
    /* general syntax */
    animation-duration: 30s;
 }
 
 /* Keyframe animations */
 
 /* Blades Spinning */
  
 /* general syntax */
 @keyframes bladeSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1440deg); }
 }
 
 
 /* Clouds drifting */
 
 /* general syntax */
 @keyframes cloudDrift {
     from { transform: translateX(0px); } 
    to { transform: translateX(400px); }
 }

 .sun{
     position: absolute;
     height: inherit;
     top: -40%;
     right: 0;
     width:  auto;
     opacity: 0.7;
 }
 .green{
     background-color: greenyellow;
     position: absolute;
     bottom: 0;
     width: 100%;
     color: transparent;
     border-top-left-radius: 25px;
     border-top-right-radius: 15px;
 }
 @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

 .heading-text{
     font-family: 'Berkshire Swash', cursive;
     text-align: center;
     font-size: 40px;
 }

 .bg-night{
     position: relative;
     }

 .black{
     background-color: #171616;
     position: absolute;
     bottom :0;
     width: 100%;
     color: transparent;
     border-top-right-radius: 50px;
     height: 5%;
 }

 .moon{
     position: absolute;
     height: 30%;
     right:0px;

 }
 .light{
     position: absolute;
     bottom:3.5%;
     left: 0;
     height: 70%
 }
 .sky{
     width: 100% ;
     height: 350px;
 }

 .grey-cloud{
     position: absolute;
     top:5px;
     height : 30%;

 }

 .disp{
     display:block;
 }
 .no-disp{
     display:none;
 }

 .weather{
  
 }
 .data-bg{
     width:100%;
     position: absolute;
     opacity:0.75;
 }
 .data{
     margin: 0px auto;
     text-align: center;
     font-size: 50px;
     width: 300px;
     background-color: rgba(140, 140, 224, 0.35);
     border-radius: 30px;
     padding: 5px;
 }
 .degree{
     position: absolute;
     font-size: 25px !important;
 }
.temp{
    margin-bottom: -10%;
    margin-top: 0%;
   
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin: 0px auto;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
      display:block;
      width: inherit;
      height: inherit;
      position: absolute;
      z-index: 9999;
      opacity: 0;

}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 199, 83);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .btn-info{
      text-align:center;
      margin: 0px auto;
      padding-top: 20px;
  }
  .unit-name{
      text-align:center;
      width:100px; 
      margin: 0px auto;
      font-size:25px;
      font-style: oblique;
      font-family: monospace;
  }
  .state-name{
    font-style: normal;
    font-family: monospace;
    font-size: 30px;
    line-height: 1;
    margin:0px 0px 10px 0px;
  }
  .city-name{    
    font-family: monospace;
    font-size: 35px;
    font-weight: 550;
    margin: 0px;
  }
.weather-text{  
    font-family: cursive , monospace;
    font-style: oblique;
    margin-top: 24px;
    font-size: 40px;
    opacity: 0.5;
}
.footer{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    margin: 40px 0px 0px 0px;
}
.heart{
    color: red;
    font-size: 23px;
}
hr{
    width: 52%;
    border: 0.5px solid #acab9e;
    margin-top: -35px;
    opacity: 1;
    border-radius: 1px;
}
.foot-img{
    display:block;
    width: 40px;
    margin:0px auto;
}