
body{
    margin: 0;
   }
.scene {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    /* Solid fallback for old browsers */
    background: #0099ff;
    /* general syntax */
    background: linear-gradient(top, #0099ff, #00ccff);
 }

 /* Image Properties */
 
 .blades {
    /*image is 120 x 120 px*/
    position: absolute;
    top: 38%;
    left: 61px;
    /* general syntax */
    animation: bladeSpin 10s ease-in-out infinite;
 }
 
 .stand {
    /*image is 12 x 130 px*/
    position: absolute;

    bottom: 0%;
    left: 115px;
 }
 
 .cloud {
    position: absolute;
    /* general syntax */
    animation: cloudDrift linear infinite;
 }
 
 .lrg {
    /*width 130px*/
    top: 40px;
    left: -140px;
    /* general syntax */
    animation-duration: 40s;
 }
 .sml {
    /*width 70px*/
    top: 10px;
    left: -80px;
    /* general syntax */
    animation-duration: 20s;
 }
 .med {
    /*width 100px*/
    top: 80px;
    left: -110px;
 
    /* general syntax */
    animation-duration: 30s;
 }
 
 /* Keyframe animations */
 
 /* Blades Spinning */
  
 /* general syntax */
 @keyframes bladeSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1440deg); }
 }
 
 
 /* Clouds drifting */
 
 /* general syntax */
 @keyframes cloudDrift {
     from { transform: translateX(0px); } 
    to { transform: translateX(400px); }
 }

 .sun{
     position: absolute;
     height: inherit;
     top: -40%;
     right: 0;
     width:  auto;
     opacity: 0.7;
 }
 .green{
     background-color: greenyellow;
     position: absolute;
     bottom: 0;
     width: 100%;
     color: transparent;
     border-top-left-radius: 25px;
     border-top-right-radius: 15px;
 }
 @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

 .heading-text{
     font-family: 'Berkshire Swash', cursive;
     text-align: center;
     font-size: 40px;
 }

 .bg-night{
     position: relative;
     }

 .black{
     background-color: #171616;
     position: absolute;
     bottom :0;
     width: 100%;
     color: transparent;
     border-top-right-radius: 50px;
     height: 5%;
 }

 .moon{
     position: absolute;
     height: 30%;
     right:0px;

 }
 .light{
     position: absolute;
     bottom:3.5%;
     left: 0;
     height: 70%
 }
 .sky{
     width: 100% ;
     height: 350px;
 }

 .grey-cloud{
     position: absolute;
     top:5px;
     height : 30%;

 }

 .disp{
     display:block;
 }
 .no-disp{
     display:none;
 }
